.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.footer img {
  width: 25px;
  height: 25px;
}

.footer p {
  font-size: 1.25rem
}

.footer .redes-sociais {
  display: flex;
  gap: 1.5rem
}